.search {
  background-color: #fff;
  border-top: 1px Solid rgb(0, 0, 0, 0.15);
  border-bottom: 1px Solid rgb(0, 0, 0, 0.15);
  height: 50px;
  padding: 10px 20px;
}

.search__body {
  border: 1px Solid rgb(0, 0, 0, 0.15);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 270px 1fr 50px 140px;
  height: 100%;
}

.search__body__add-people {
  background-color: #fff;
  border-radius: 9px 0px 0px 9px;
  border-right: 1px Solid rgba(0, 0, 0, 0.15);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50px 1fr;
}

.search__body__add-people__icon {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.search__body__add-people__text,
.search__body__filter {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: left;
  text-align: left;
  word-spacing: 2.5px;
  font-family: "Roboto", "Inter", Arial, sans-serif;
  color: #054e7e;
  font-size: 18px;
  line-height: 1.5;
  outline: none;
}

.search__body__strsearch {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: left;
  height: 50px;
  width: 100%;
  background-color: rgba(217, 217, 217, 0.15);
}

.search__body__strsearch__input {
  border: 0px Solid rgba(0, 0, 0, 0.15);
  outline: none;
  height: 100%;
  width: 100%;
  background-color: rgba(217, 217, 217, 0.15);
  padding-left: 15px;
  text-align: left;
  word-spacing: 2.5px;
  font-family: "Roboto", "Inter", Arial, sans-serif;
  color: #054e7e;
  font-size: 18px;
  line-height: 1.5;
  outline: none;
}

input:focus {
  outline: none;
}

.search__body__btnsearch,
.search__body__filter {
  border-left: 1px Solid rgba(0, 0, 0, 0.15);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.search__body__btnsearch:hover,
.search__body__filter:hover,
.search__body__add-people:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
  transition-duration: 0.2s;
}
