<app-address-bar (openPopup)="openPopup($event)"></app-address-bar>
<div class="content">
	<div class="workers">
		<div class="workers__card" *ngFor="let WorkersCard of WorkersCards" id="{{ WorkersCard.id_worker }}" routerLink="/profile/{{WorkersCard.id_worker}}">
			<div class="workers__card__body">
				<div class="workers__card__body__name">
					<div class="workers__card__body__name__text">
						{{convertFullName(WorkersCard.fio_worker)}}
					</div>
					<div class="workers__card__body__name__category">
						<img src="assets/img/svg/{{convertCategory(WorkersCard.categories_worker)}}.svg" />
						<!--<img src="assets/img/svg/compass.svg" />-->
					</div>
				</div>
				<div class="workers__card__body__line"></div>
				<div class="workers__card__body__info">
					<div class="workers__card__body__info__row">
						<div class="workers__card__body__info__row__section">
							Дата рождения:
						</div>
						<div class="workers__card__body__info__row__section-info">
							{{convertedDate(WorkersCard?.birthday_worker)}}
						</div>
					</div>
					<div class="workers__card__body__info__row">
						<div class="workers__card__body__info__row__section">
							Образование:
						</div>
						<div class="workers__card__body__info__row__section-info"><!-- {{ WorkersCard.education }} -->net</div>
					</div>
					<div class="workers__card__body__info__row">
						<div class="workers__card__body__info__row__section">
							Медосмотр:
						</div>
						<div class="workers__card__body__info__row__section-info">
							31.12.2043
						</div>
					</div>
					<div class="workers__card__body__info__row">
						<div class="workers__card__body__info__row__section">
							Должность:
						</div>
						<div class="workers__card__body__info__row__section-info">
							{{convertedPositions(WorkersCard?.positions_worker, WorkersCard?.departments_worker)}}
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- удалить все ниже! -->

		<!-- конец карт -->
		<div></div>
	</div>
</div>

<app-popup [title]="currentName === 'addworker' ? 'Добавление нового сотрудника' : 'Error 404: Popup was not received or does not exist'" [isOpen]="isModalOpen" (closeModalEvent)="closeModal()">
	<ng-container *ngIf="currentName === 'addworker'">
		<app-popup-header [title]="'Добавление нового сотрудника'" (closeModalEvent)="closeModal()"></app-popup-header>
		<app-popup-body>
			<app-add-worker-popup (closeModalEvent)="closeModal()" (updateWorkerCards)="getAllWorker()"></app-add-worker-popup>
		</app-popup-body>
	</ng-container>
</app-popup>
