<div class="search-plug">
	<!--plug-->
	<div class="search-plug__body">
		<div class="search-plug__body__text">
			Выборки данных из картотеки по заданным условиям:
		</div>
	</div>
</div>
<div class="content">
	<div class="selection">
		<div class="selection__section">
			<div class="selection__section__body">
				<div class="selection__section__body__head">
					<div class="selection__section__body__head__icon"><img src="assets/img/svg/certificate.svg" /></div>
					<div class="selection__section__body__head__title">Выборка "Аттестация и обучение персонала"</div>
				</div>
				<div class="selection__section__body__line"></div>
				<div class="selection__section__body__content">
					<div class="selection__section__body__content__text">Спросить описания для оформления и заполнения этих блоков на странице, бекоз это оставлять пустым - кринж</div>
				</div>
			</div>
		</div>
		<div class="selection__section">
			<div class="selection__section__body">
				<div class="selection__section__body__head">
					<div class="selection__section__body__head__icon"><img src="assets/img/svg/bookmark.svg" /></div>
					<div class="selection__section__body__head__title">Выборка "Образование и специальности персонала"</div>
				</div>
				<div class="selection__section__body__line"></div>
				<div class="selection__section__body__content">
					<div class="selection__section__body__content__text">Спросить описания для оформления и заполнения этих блоков на странице, бекоз это оставлять пустым - кринж</div>
				</div>
			</div>
		</div>
		<div class="selection__section">
			<div class="selection__section__body">
				<div class="selection__section__body__head">
					<div class="selection__section__body__head__icon"><img src="assets/img/svg/safe-retrieval.svg" /></div>
					<div class="selection__section__body__head__title">Выборка "Аттестация в Ростехнадзоре по промышленной безопасности"</div>
				</div>
				<div class="selection__section__body__line"></div>
				<div class="selection__section__body__content">
					<div class="selection__section__body__content__text">Спросить описания для оформления и заполнения этих блоков на странице, бекоз это оставлять пустым - кринж</div>
				</div>
			</div>
		</div>
		<div class="selection__section">
			<div class="selection__section__body">
				<div class="selection__section__body__head">
					<div class="selection__section__body__head__icon"><img src="assets/img/svg/cardioelectric.svg" /></div>
					<div class="selection__section__body__head__title">Выборка "Медицинский осмотр персонала"</div>
				</div>
				<div class="selection__section__body__line"></div>
				<div class="selection__section__body__content">
					<div class="selection__section__body__content__text">Пример: Выборка "Медицинский осмотр персонала" дает возможность узнать и записать, у каких сотрудников просрочены медицинские осмотры, у кого подходят к концу и.т.д</div>
				</div>
			</div>
		</div>
	</div>
</div>
