<div class="search">
	<div class="search__body">
		<div class="search__body__add-people">
			<div class="search__body__add-people__icon">
				<img src="assets/img/svg/people-plus-one.svg" />
			</div>
			<div class="search__body__add-people__text">Добавить сотрудника</div>
		</div>
		<div class="search__body__str-search">
			<input class="search__body__str-search__input" placeholder="Поиск в картотеке ..." />
		</div>
		<div class="search__body__btn-search">
			<img src="assets/img/svg/search.svg" />
		</div>
		<div class="search__body__filter">Фильтры</div>
	</div>
</div>
<p>selection works!</p>
