<!--Верстка верхнего меню-->
<div class="header">
  <div class="header__button" on-click="showSettings()">
    <span class="window__settings">
      <div class="window__settings__button">
        <div class="window__settings__button__icon">
          <img src="assets/img/svg/people-1.svg" />
        </div>
        <div class="window__settings__button__text">Соловьев Руслан</div>
      </div>
      <div class="window__settings__button">
        <div class="window__settings__button__text">Права: Администрация</div>
      </div>
      <div class="window__settings__button">
        <div class="window__settings__button__icon">
          <img src="assets/img/svg/power.svg" />
        </div>
        <div class="window__settings__button__text">Выход</div>
      </div>
    </span>
    <img src="assets/img/svg/timeline.svg" />
  </div>
</div>
