.header {
  background-color: #fff;
  height: 70px;
  display: grid;
  grid-template-columns: 1fr 70px;
  border-bottom: 1px Solid rgba(0, 0, 0, 0.15);
}

.header__button {
  grid-column: 2;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  position: relative;
}

.header__button .window__settings {
  visibility: hidden;
  width: 310px;
  background-color: #fff;
  color: #054e7e;
  text-align: center;
  border-left: 1px Solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px Solid rgba(0, 0, 0, 0.15);
  border-top: 1px Solid rgba(0, 0, 0, 0.15);
  display: grid;
  row-gap: 1;

  position: absolute;
  z-index: 1;
  top: 100%;
  left: -181px;
  margin-left: -60px;
}

.header__button .window__settings visible {
  visibility: visible;
}

.header__button .window__settings::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 89%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.15) transparent;
}

.window__settings__button {
  height: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 40px 1fr;
  position: relative;
}
.window__settings__button__root {
  height: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

.window__settings_button:hover,
.window__settings__button__root:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
  transition-duration: 0.2s;
}

.window__settings__button__icon {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.window__settings__button__text {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: left;
  padding-left: 10px;

  text-align: left;
  word-spacing: 2.5px;
  font-family: "Roboto", "Inter", Arial, sans-serif;
  color: #054e7e;
  font-size: 18px;
  line-height: 1.5;
  outline: none;
}
