.search {
  background-color: #fff;
  border-top: 1px Solid rgb(0, 0, 0, 0.15);
  border-bottom: 1px Solid rgb(0, 0, 0, 0.15);
  height: 50px;
  padding: 10px 20px;
}

.search__body {
  border: 1px Solid rgb(0, 0, 0, 0.15);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 270px 1fr 50px 140px;
  height: 100%;
}

.search__body__add-people {
  background-color: #fff;
  border-radius: 9px 0px 0px 9px;
  border-right: 1px Solid rgba(0, 0, 0, 0.15);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50px 1fr;
}

.search__body__add-people__icon {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.search__body__add-people__text,
.search__body__filter {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: left;
  text-align: left;
  word-spacing: 2.5px;
  font-family: "Roboto", "Inter", Arial, sans-serif;
  color: #054e7e;
  font-size: 18px;
  line-height: 1.5;
  outline: none;
}

.search__body__str-search {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: left;
  height: 50px;
  width: 100%;
  background-color: rgba(217, 217, 217, 0.15);
}

.search__body__str-search__input {
  border: 0px Solid rgba(0, 0, 0, 0.15);
  outline: none;
  height: 100%;
  width: 100%;
  background-color: rgba(217, 217, 217, 0.15);
  padding-left: 15px;
  text-align: left;
  word-spacing: 2.5px;
  font-family: "Roboto", "Inter", Arial, sans-serif;
  color: #054e7e;
  font-size: 18px;
  line-height: 1.5;
  outline: none;
}

input:focus {
  outline: none;
}

.search__body__btn-search,
.search__body__filter {
  border-left: 1px Solid rgba(0, 0, 0, 0.15);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.search__body__btn-search:hover,
.search__body__filter:hover,
.search__body__add-people:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
  transition-duration: 0.2s;
}

.content {
  padding: 20px 12px 20px 20px;
  overflow: auto;
  height: calc(100vh - 184px);
  margin-top: 2px;
}

.worker-profile {
  display: grid;
  row-gap: 20px;
}

.worker-profile__basic-info {
  background-color: white;
  border: 1px Solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 20px;
}

.worker-profile__basic-info__body {
  display: grid;
  row-gap: 20px;
  grid-template-rows: 30px 1px 1fr;
}

.worker-profile__basic-info__head {
  display: grid;
  grid-template-columns: 1fr 30px 30px;
  column-gap: 15px;
}

.worker-profile__basic-info__head__fio {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: left;

  text-align: left;
  word-spacing: 2.5px;
  font-family: "Roboto", "Inter", Arial, sans-serif;
  color: #054e7e;
  font-size: 24px;
  /*line-height: 1.5;*/
  outline: none;
}

.worker-profile__basic-info__line {
  border: 1px Solid rgba(0, 0, 0, 0.15);
  content: " ";
}

.worker-profile__basic-info__content {
  display: grid;
  grid-template-columns: 1fr 1px auto;
  column-gap: 30px;
}
.worker-profile__basic-info__content__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}
/*
.worker-profile__basic-info__content__container__job-info,
.worker-profile__basic-info__content__container__employee-info {
}
*/
.worker-profile__basic-info__content__container__job-info__block,
.worker-profile__basic-info__content__container__employee-info__block {
  display: grid;
  grid-template-columns: 195px 1fr;
  column-gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.worker-profile__basic-info__content__container__job-info__block__title,
.worker-profile__basic-info__content__container__employee-info__block__title {
  display: flex;
  align-items: top;
  vertical-align: top;
  justify-content: left;

  text-align: left;
  word-spacing: 2.5px;
  font-family: "Roboto", "Inter", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  /*line-height: 1.5;*/
  outline: none;
}

.worker-profile__basic-info__content__container__job-info__block__text,
.worker-profile__basic-info__content__container__employee-info__block__text {
  display: flex;
  align-items: top;
  vertical-align: top;
  justify-content: left;

  text-align: left;
  word-spacing: 2.5px;
  font-family: "Roboto", "Inter", Arial, sans-serif;
  color: #054e7e;
  font-size: 18x;
  /*line-height: 1.5;*/
  outline: none;
}

.worker-profile__basic-info__content__line {
  border: 1px Solid rgba(0, 0, 0, 0.15);
  padding-bottom: 20px;
}

.worker-profile__basic-info__content__photo {
  display: block;
  background-color: white;
  border: 1px Solid rgba(0, 0, 0, 0.15);
  padding: 10px;
  max-width: 220px;
  max-height: 270px;
}

.worker-profile__additional-info {
  display: grid;
  row-gap: 20px;
}

.worker-profile__additional-info__section {
  position: relative;
  background-color: white;
  border: 1px Solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.worker-profile__additional-info__section__prior {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  padding: 10px 20px 10px 20px;
  column-gap: 15px;
}

.worker-profile__additional-info__section__content {
  display: none;
}

.worker-profile__additional-info__section__prior__icon,
.worker-profile__additional-info__section__prior__plus {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.worker-profile__additional-info__section__prior__text {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: left;
  text-align: left;
  word-spacing: 2.5px;
  font-family: "Roboto", "Inter", Arial, sans-serif;
  color: #054e7e;
  font-size: 18px;
  line-height: 1.5;
  outline: none;
}
