<div class="search">
	<div class="search__body">
		<div class="search__body__add-people">
			<div class="search__body__add-people__icon">
				<img src="assets/img/svg/people-plus-one.svg" />
			</div>
			<div class="search__body__add-people__text">Добавить сотрудника</div>
		</div>
		<div class="search__body__str-search">
			<input class="search__body__str-search__input" placeholder="Поиск в картотеке ..." />
		</div>
		<div class="search__body__btn-search">
			<img src="assets/img/svg/search.svg" />
		</div>
		<div class="search__body__filter">Фильтры</div>
	</div>
</div>
<div class="content">
	<div class="worker-profile">
		<div class="worker-profile__basic-info">
			<div class="worker-profile__basic-info__body">
				<div class="worker-profile__basic-info__head">
					<div class="worker-profile__basic-info__head__fio">
						Соловьев Руслан Алексеевич
					</div>
					<div class="worker-profile__basic-info__head__edit-profile">
						<img src="assets/img/svg/pencil.svg" />
					</div>
					<div class="worker-profile__basic-info__head__delete-profile">
						<img src="assets/img/svg/delete.svg" />
					</div>
				</div>
				<div class="worker-profile__basic-info__line"></div>
				<div class="worker-profile__basic-info__content">
					<div class="worker-profile__basic-info__content__container">
						<div class="worker-profile__basic-info__content__container__job-info">
							<div class="worker-profile__basic-info__content__container__job-info__block">
								<div class="worker-profile__basic-info__content__container__job-info__block__title">
									Филиал:
								</div>
								<div class="worker-profile__basic-info__content__container__job-info__block__text">
									ООО «ГТ Север»
								</div>
							</div>
							<div class="worker-profile__basic-info__content__container__job-info__block">
								<div class="worker-profile__basic-info__content__container__job-info__block__title">
									Должность:
								</div>
								<div class="worker-profile__basic-info__content__container__job-info__block__text">
									Инженер отдела охраны окружающей среды, охраны труда и пожарной безопасности
								</div>
							</div>
							<div class="worker-profile__basic-info__content__container__job-info__block">
								<div class="worker-profile__basic-info__content__container__job-info__block__title">
									Категория сотрудника:
								</div>
								<div class="worker-profile__basic-info__content__container__job-info__block__text">
									Рабочий
								</div>
							</div>
							<div class="worker-profile__basic-info__content__container__job-info__block">
								<div class="worker-profile__basic-info__content__container__job-info__block__title">
									Принят на работу:
								</div>
								<div class="worker-profile__basic-info__content__container__job-info__block__text">
									Нет даты приема на работу
								</div>
							</div>
							<div class="worker-profile__basic-info__content__container__job-info__block">
								<div class="worker-profile__basic-info__content__container__job-info__block__title">
									Уволен:
								</div>
								<div class="worker-profile__basic-info__content__container__job-info__block__text">
									Действующий сотрудник
								</div>
							</div>
							<div class="worker-profile__basic-info__content__container__job-info__block">
								<div class="worker-profile__basic-info__content__container__job-info__block__title">
									Примечание:
								</div>
								<div class="worker-profile__basic-info__content__container__job-info__block__text">
									Нет
								</div>
							</div>
						</div>
						<div class="worker-profile__basic-info__content__container__employee-info">
							<div class="worker-profile__basic-info__content__container__employee-info__block">
								<div class="worker-profile__basic-info__content__container__employee-info__block__title">
									Дата рождения:
								</div>
								<div class="worker-profile__basic-info__content__container__employee-info__block__text">
									28.10.1961г. (62 года)
								</div>
							</div>
							<div class="worker-profile__basic-info__content__container__employee-info__block">
								<div class="worker-profile__basic-info__content__container__employee-info__block__title">
									Образование:
								</div>
								<div class="worker-profile__basic-info__content__container__employee-info__block__text">
									Начальное профессиональное
								</div>
							</div>
							<div class="worker-profile__basic-info__content__container__employee-info__block">
								<div class="worker-profile__basic-info__content__container__employee-info__block__title">
									Медосмотр:
								</div>
								<div class="worker-profile__basic-info__content__container__employee-info__block__text">
									31.12.2043
								</div>
							</div>
						</div>
					</div>
					<div class="worker-profile__basic-info__content__line"></div>
					<div class="worker-profile__basic-info__content__photo">
						<img src="assets/img/png/avmale.png" class="worker-profile__basic-info__content__photo__img" />
					</div>
				</div>
			</div>
		</div>
		<div class="worker-profile__additional-info">
			<div class="worker-profile__additional-info__section">
				<div class="worker-profile__additional-info__section__prior">
					<div class="worker-profile__additional-info__section__prior__icon">
						<img src="assets/img/svg/copy-one.svg" />
					</div>
					<div class="worker-profile__additional-info__section__prior__text">Формирование бланков</div>
					<div class="worker-profile__additional-info__section__prior__plus">
						<img src="assets/img/svg/plus.svg" />
					</div>
				</div>
			</div>
			<div class="worker-profile__additional-info__section">
				<div class="worker-profile__additional-info__section__prior">
					<div class="worker-profile__additional-info__section__prior__icon">
						<img src="assets/img/svg/copy-one.svg" />
					</div>
					<div class="worker-profile__additional-info__section__prior__text">Формирование бланков</div>
					<div class="worker-profile__additional-info__section__prior__plus">
						<img src="assets/img/svg/plus.svg" />
					</div>
				</div>
			</div>
			<div class="worker-profile__additional-info__section">
				<div class="worker-profile__additional-info__section__prior">
					<div class="worker-profile__additional-info__section__prior__icon">
						<img src="assets/img/svg/copy-one.svg" />
					</div>
					<div class="worker-profile__additional-info__section__prior__text">Формирование бланков</div>
					<div class="worker-profile__additional-info__section__prior__plus">
						<img src="assets/img/svg/plus.svg" />
					</div>
				</div>
			</div>
			<div class="worker-profile__additional-info__section">
				<div class="worker-profile__additional-info__section__prior">
					<div class="worker-profile__additional-info__section__prior__icon">
						<img src="assets/img/svg/copy-one.svg" />
					</div>
					<div class="worker-profile__additional-info__section__prior__text">Формирование бланков</div>
					<div class="worker-profile__additional-info__section__prior__plus">
						<img src="assets/img/svg/plus.svg" />
					</div>
				</div>
			</div>
			<div class="worker-profile__additional-info__section">
				<div class="worker-profile__additional-info__section__prior">
					<div class="worker-profile__additional-info__section__prior__icon">
						<img src="assets/img/svg/copy-one.svg" />
					</div>
					<div class="worker-profile__additional-info__section__prior__text">Формирование бланков</div>
					<div class="worker-profile__additional-info__section__prior__plus">
						<img src="assets/img/svg/plus.svg" />
					</div>
				</div>
			</div>
			<div class="worker-profile__additional-info__section">
				<div class="worker-profile__additional-info__section__prior">
					<div class="worker-profile__additional-info__section__prior__icon">
						<img src="assets/img/svg/copy-one.svg" />
					</div>
					<div class="worker-profile__additional-info__section__prior__text">Формирование бланков</div>
					<div class="worker-profile__additional-info__section__prior__plus">
						<img src="assets/img/svg/plus.svg" />
					</div>
				</div>
			</div>
			<div class="worker-profile__additional-info__section">
				<div class="worker-profile__additional-info__section__prior">
					<div class="worker-profile__additional-info__section__prior__icon">
						<img src="assets/img/svg/copy-one.svg" />
					</div>
					<div class="worker-profile__additional-info__section__prior__text">Формирование бланков</div>
					<div class="worker-profile__additional-info__section__prior__plus">
						<img src="assets/img/svg/plus.svg" />
					</div>
				</div>
			</div>
			<div class="worker-profile__additional-info__section">
				<div class="worker-profile__additional-info__section__prior">
					<div class="worker-profile__additional-info__section__prior__icon">
						<img src="assets/img/svg/copy-one.svg" />
					</div>
					<div class="worker-profile__additional-info__section__prior__text">Формирование бланков</div>
					<div class="worker-profile__additional-info__section__prior__plus">
						<img src="assets/img/svg/plus.svg" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
