<app-address-bar (openPopup)="openPopup($event)"></app-address-bar>
<div class="content">
	<div class="worker-profile">
		<div class="worker-profile__basic-info">
			<div class="worker-profile__basic-info__body">
				<div class="worker-profile__basic-info__head">
					@if (workerProfile?.fio_worker) {
					<div class="worker-profile__basic-info__head__fio">
						{{workerProfile?.fio_worker}}
					</div>
					} @else {
					<div class="worker-profile__basic-info__head__fio"></div>
					}
					<div class="worker-profile__basic-info__head__edit-profile" (click)="openPopup('editworker')">
						<img src="assets/img/svg/pencil.svg" />
					</div>
					<div class="worker-profile__basic-info__head__delete-profile" (click)="openPopup('deleteworker')">
						<img src="assets/img/svg/delete.svg" />
					</div>
				</div>
				<div class="worker-profile__basic-info__line"></div>
				<div class="worker-profile__basic-info__content">
					<div class="worker-profile__basic-info__content__container">
						<div class="worker-profile__basic-info__content__container__job-info">
							<div class="worker-profile__basic-info__content__container__job-info__block">
								<div class="worker-profile__basic-info__content__container__job-info__block__title">
									Филиал:
								</div>
								<div class="worker-profile__basic-info__content__container__job-info__block__text">
									{{convertedDepartment(workerProfile?.departments_worker)}}
								</div>
							</div>
							<div class="worker-profile__basic-info__content__container__job-info__block">
								<div class="worker-profile__basic-info__content__container__job-info__block__title">
									Должность:
								</div>
								<div class="worker-profile__basic-info__content__container__job-info__block__text">
									{{convertedPositions(workerProfile?.positions_worker)}}
								</div>
							</div>
							<div class="worker-profile__basic-info__content__container__job-info__block">
								<div class="worker-profile__basic-info__content__container__job-info__block__title">
									Категория сотрудника:
								</div>
								<div class="worker-profile__basic-info__content__container__job-info__block__text">
									{{convertedCategory(this.workerProfile?.categories_worker)}}
								</div>
							</div>
							<div class="worker-profile__basic-info__content__container__job-info__block">
								<div class="worker-profile__basic-info__content__container__job-info__block__title">
									Принят на работу:
								</div>
								<div class="worker-profile__basic-info__content__container__job-info__block__text">
									@if (workerProfile?.date_hiring_worker) { {{convertedDate(workerProfile?.date_hiring_worker)}} } @else { Нет даты приема}
								</div>
							</div>
							<div class="worker-profile__basic-info__content__container__job-info__block">
								<div class="worker-profile__basic-info__content__container__job-info__block__title">
									Уволен:
								</div>
								<div class="worker-profile__basic-info__content__container__job-info__block__text">
									@if (workerProfile?.date_layoff_worker) { {{convertedDate(workerProfile?.date_layoff_worker)}} } @else { Действующий сотрудник }
								</div>
							</div>
							<div class="worker-profile__basic-info__content__container__job-info__block">
								<div class="worker-profile__basic-info__content__container__job-info__block__title">
									Примечание:
								</div>
								<div class="worker-profile__basic-info__content__container__job-info__block__text">
									@if (workerProfile?.note_worker) { {{workerProfile?.note_worker}} } @else { Нет }
								</div>
							</div>
						</div>
						<div class="worker-profile__basic-info__content__container__employee-info">
							<div class="worker-profile__basic-info__content__container__employee-info__block">
								<div class="worker-profile__basic-info__content__container__employee-info__block__title">
									Дата рождения:
								</div>
								<div class="worker-profile__basic-info__content__container__employee-info__block__text">
									{{convertedDate(workerProfile?.birthday_worker)}}г. ({{getAgeWithText(workerProfile?.birthday_worker)}})
								</div>
							</div>
							<div class="worker-profile__basic-info__content__container__employee-info__block">
								<div class="worker-profile__basic-info__content__container__employee-info__block__title">
									Образование:
								</div>
								<div class="worker-profile__basic-info__content__container__employee-info__block__text">
									Начальное профессиональное - нет
								</div>
							</div>
							<div class="worker-profile__basic-info__content__container__employee-info__block">
								<div class="worker-profile__basic-info__content__container__employee-info__block__title">
									Медосмотр:
								</div>
								<div class="worker-profile__basic-info__content__container__employee-info__block__text">
									31.12.2043 - нет
								</div>
							</div>
						</div>
					</div>
					<div class="worker-profile__basic-info__content__line"></div>
					<div class="worker-profile__basic-info__content__photo">
						<!-- {{workerProfile?.photo_worker}} -->
						@if (workerProfile?.photo_worker) {
						<img src="http://127.0.0.1:8000/storage/uploads/{{workerProfile?.photo_worker}}" class="worker-profile__basic-info__content__photo__img" />
						} @else {
						<img src="assets/img/png/avmale.png" class="worker-profile__basic-info__content__photo__img" />
						}
					</div>
				</div>
			</div>
		</div>
		<div class="worker-profile__additional-info">
			<div class="worker-profile__additional-info__section" *ngFor="let button of worker_buttons" id="{{button.id}}" (click)="WorkerProfileBtnSelect(button)">
				<div class="worker-profile__additional-info__section__prior">
					<div class="worker-profile__additional-info__section__prior__icon">
						<img src="assets/img/svg/copy-one.svg" />
					</div>
					<div class="worker-profile__additional-info__section__prior__text">{{button.name_btn}}</div>
					<div class="worker-profile__additional-info__section__prior__plus-mines">
						<img src="assets/img/svg/minus.svg" *ngIf="button === selectedButton && condition; else unset" />
						<ng-template #unset>
							<img src="assets/img/svg/plus.svg" />
						</ng-template>
					</div>
				</div>
				<div class="worker-profile__additional-info__section__content" *ngIf="button === selectedButton && condition"></div>
			</div>
		</div>
	</div>
</div>

<app-popup [isOpen]="isModalOpen" [title]="getPopupTitle(currentName)" (closeModalEvent)="closeModal()">
	<ng-container *ngIf="currentName === 'addworker'">
		<app-popup-header [title]="'Добавление нового сотрудника'" (closeModalEvent)="closeModal()"></app-popup-header>
		<app-popup-body>
			<app-add-worker-popup (closeModalEvent)="closeModal()"></app-add-worker-popup>
		</app-popup-body>
	</ng-container>
	<ng-container *ngIf="currentName === 'editworker'">
		<app-popup-header [title]="'Изменение данных сотрудника'" (closeModalEvent)="closeModal()"></app-popup-header>
		<app-popup-body>
			<app-add-worker-popup (closeModalEvent)="closeModal()" [workerProfileId]="workerProfile?.id_worker"></app-add-worker-popup>
		</app-popup-body>
	</ng-container>
	<ng-container *ngIf="currentName === 'deleteworker'">
		<app-popup-body>
			<app-del-worker-popup [id]="workerProfile?.id_worker" [date_layoff]="workerProfile?.date_layoff_worker" (closeModalEvent)="closeModal()" (updateProfileWorker)="getProfile()"></app-del-worker-popup>
		</app-popup-body>
	</ng-container>
</app-popup>
