.content {
  padding: 20px 12px 20px 20px;
  overflow: auto;
  height: calc(100vh - 184px);
  margin-top: 2px;
}

.worker-profile {
  display: grid;
  row-gap: 20px;
}

.worker-profile__basic-info {
  background-color: white;
  border: 1px Solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 20px;
}

.worker-profile__basic-info__body {
  display: grid;
  row-gap: 20px;
  grid-template-rows: 30px 1px 1fr;
}

.worker-profile__basic-info__head {
  display: grid;
  grid-template-columns: 1fr 30px 30px;
  column-gap: 15px;
}

.worker-profile__basic-info__head__fio {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: left;

  text-align: left;
  word-spacing: 2.5px;
  font-family: "Roboto", "Inter", Arial, sans-serif;
  color: #054e7e;
  font-size: 24px;
  /*line-height: 1.5;*/
  outline: none;
}

.worker-profile__basic-info__line {
  border: 1px Solid rgba(0, 0, 0, 0.15);
  content: " ";
}

.worker-profile__basic-info__content {
  display: grid;
  grid-template-columns: 1fr 1px auto;
  column-gap: 30px;
}
.worker-profile__basic-info__content__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}
/*
.worker-profile__basic-info__content__container__job-info,
.worker-profile__basic-info__content__container__employee-info {
}
*/
.worker-profile__basic-info__content__container__job-info__block,
.worker-profile__basic-info__content__container__employee-info__block {
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.worker-profile__basic-info__content__container__job-info__block__title,
.worker-profile__basic-info__content__container__employee-info__block__title {
  display: flex;
  align-items: top;
  vertical-align: middle;
  justify-content: left;

  text-align: left;
  word-spacing: 2.5px;
  font-family: "Roboto", "Inter", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  /*line-height: 1.5;*/
  outline: none;
}

.worker-profile__basic-info__content__container__job-info__block__text,
.worker-profile__basic-info__content__container__employee-info__block__text {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: left;

  text-align: left;
  word-spacing: 2.5px;
  font-family: "Roboto", "Inter", Arial, sans-serif;
  color: #054e7e;
  font-size: 18x;
  /*line-height: 1.5;*/
  outline: none;
}

.worker-profile__basic-info__content__line {
  border: 1px Solid rgba(0, 0, 0, 0.15);
  padding-bottom: 20px;
}

.worker-profile__basic-info__content__photo {
  background-color: white;
  border: 1px Solid rgba(0, 0, 0, 0.15);
  padding: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.worker-profile__basic-info__content__photo__img {
  width: 100%; /* Максимальная ширина 100% от родительского контейнера */
  height: auto; /* Автоматическая высота для сохранения соотношения сторон */
  max-width: 160px;
  max-height: 200px;
  min-width: 40px;
  min-height: 50px;
}

.worker-profile__additional-info {
  display: grid;
  row-gap: 20px;
}

.worker-profile__additional-info__section {
  background-color: white;
  border: 1px Solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.worker-profile__additional-info__section__prior {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  padding: 10px 20px 10px 20px;
  column-gap: 15px;
}

.worker-profile__additional-info__section__content {
  display: block;
  height: 100px;
}

.worker-profile__additional-info__section__prior__icon,
.worker-profile__additional-info__section__prior__plus-mines {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.worker-profile__additional-info__section__prior__text {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: left;
  text-align: left;
  word-spacing: 2.5px;
  font-family: "Roboto", "Inter", Arial, sans-serif;
  color: #054e7e;
  font-size: 18px;
  line-height: 1.5;
  outline: none;
}
