.modal__overlay {
  /*visibility: hidden;*/
  visibility: hidden;
  position: absolute;
  overflow-y: auto;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}

.modal__overlay-big {
  visibility: hidden;
  position: absolute;
  overflow-y: auto;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  transition: 0.5s;
}

.modal__container {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 24px 20px 20px 20px;
  background-color: #fff;
  min-width: 500px;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transform: scale(0.3);
  transition: transform 0.3s;
  border: 1px Solid rgba(0, 0, 0, 0.15);
}
/*

.modal__container {
  margin: 0 auto;
  position: absolute;
  top: 20%;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 24px 20px 20px 20px;
  background-color: #fff;
  width: 55%;
  min-width: 500px;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transform: scale(0.3);
  transition: transform 0.3s;
  border: 1px Solid rgba(0, 0, 0, 0.15);
}

*/

.modal__container.active {
  transform: scale(1);
  pointer-events: all;
}

.modal__container__body {
}

.modal__overlay.active,
.modal__overlay-big.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.div {
  height: 20px;
  padding: 10px;
}
