.modal__container__body__header {
  display: grid;
  grid-template-columns: 1fr 40px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px Solid rgba(0, 0, 0, 0.15);
  min-height: 40px;
  padding-bottom: 15px;
}

.modal__container__body__header__text {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: left;
  text-align: left;
  word-spacing: 2px;
  font-family: "Roboto", "Inter", Arial, sans-serif;
  color: #054e7e;
  font-size: 24px;
  outline: none;
}

.modal__container__body__header__close__btn {
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.modal__container__body__header__close__btn:hover {
  background-color: #eeeeee;
  transition: background-color 0.4s;
  border-radius: 50%;
}
