<div class="sidebar">
  <div class="sidebar__header" routerLink="/">
    <img src="assets/img/png/GTSever.png" />
  </div>
  <div class="sidebar__block"></div>
  <div class="sidebar__button">
    <div class="sidebar__button__main">
      <div class="sidebar__button__main__button" routerLink="/">
        <div class="sidebar__button__main__icon">
          <img src="assets/img/svg/peoples.svg" />
        </div>
        <div class="sidebar__button__main__text">Все сотрудники</div>
      </div>
      <div class="sidebar__button__main__button" routerLink="/selection">
        <div class="sidebar__button__main__icon">
          <img src="assets/img/svg/triangle-round-rectangle.svg" />
        </div>
        <div class="sidebar__button__main__text">Выборка из картотеки</div>
      </div>
      <div class="sidebar__button__main__button" routerLink="/toolkit">
        <div class="sidebar__button__main__icon">
          <img src="assets/img/svg/tool.svg" />
        </div>
        <div class="sidebar__button__main__text">Инструментарий</div>
      </div>
    </div>
    <div class="sidebar__button__other">
      <div
        class="sidebar__button__other__button"
        onclick="location.href='https://schet.gtsever.ru/'"
      >
        <div class="sidebar__button__other__icon">
          <img src="assets/img/svg/dollar.svg" />
        </div>
        <div class="sidebar__button__other__text">Счета компании</div>
      </div>
      <div
        class="sidebar__button__other__button"
        onclick="location.href='http://gost.gtsever.ru/'"
      >
        <div class="sidebar__button__other__icon">
          <img src="assets/img/svg/read-book.svg" />
        </div>
        <div class="sidebar__button__other__text">Каталог ГОСТ</div>
      </div>
    </div>
  </div>
  <div></div>
</div>
