<div class="body__popup">
	<div class="body__popup__container">
		<div class="body__popup__container__body">
			<div class="body__popup__container__body__header">Welocome</div>
			<div class="body__popup__container__body__content">lolo 1231 32123</div>
			<br />
			<div class="modal__container__body__content__section"></div>
			<div class="div">111<br /></div>
			<div class="div">111<br /></div>

			<div class="div">111<br /></div>
			<div class="div">111<br /></div>
			<div class="div">111<br /></div>
			<div class="div">111<br /></div>
			<div class="div">111<br /></div>
			<div class="div">111<br /></div>
			<div class="div">111<br /></div>

			<div class="body__popup__container__body__fotter">
				<div class="body__popup__container__body__fotter__btn">btn</div>
			</div>
		</div>
	</div>
</div>
