<div class="body__popup">
	<div class="body__popup__container">
		<div class="body__popup__container__body">
			<!--<div class="body__popup__container__body__header">
				<div class="body__popup__container__body__header__text"></div>
			</div>-->
			<div class="body__popup__container__body__content" [formGroup]="formAddWorker">
				<div class="body__popup__container__body__content__row">
					<div class="body__popup__container__body__content__row__section">
						<!--Фио Сотрудника-->
						<app-input-modul-simple [formControlName]="'fio_worker'" forid="fio_worker" inputid="fio_worker" title="Фио Сотрудника" type="text" pholder="Соловьев Руслан Алексеевич"></app-input-modul-simple>
					</div>
					<div class="body__popup__container__body__content__row__section">
						<!--Дата рождения-->
						<app-input-modul-simple [formControlName]="'birthday_worker'" forid="birthday_worker" inputid="birthday_worker" title="Дата рождения" type="date" pholder=""></app-input-modul-simple>
						<!--Пол работника-->
						<app-input-modul-toggle [formControlName]="'gender_worker'" forid="gender_worker" inputid="gender_worker" title="Пол работника" type="checkbox" pholder="" leftside="Мужской" rightside="Женский"></app-input-modul-toggle>
					</div>
				</div>
				<div class="body__popup__container__body__content__row">
					<div class="body__popup__container__body__content__row__section">
						<!--Филиал-->
						<app-input-modul-dropdown [formControlName]="'departments_worker'" [options]="departments" forid="departments_worker" inputid="departments_worker" title="Филиал" type="text" pholder="Филиал" [isReadOnly]="true"></app-input-modul-dropdown>
					</div>
					<div class="body__popup__container__body__content__row__section">
						<!--Категория-->
						<app-input-modul-dropdown
							[formControlName]="'categories_worker'"
							[options]="categories"
							forid="categories_worker"
							inputid="categories_worker"
							title="Категория"
							type="text"
							pholder="Категория"
							[isReadOnly]="true"
						></app-input-modul-dropdown>
						<!--Принят на работу-->
						<app-input-modul-simple [formControlName]="'date_hiring_worker'" forid="date_hiring_worker" inputid="date_hiring_worker" title="Принят на работу" type="date" pholder=""></app-input-modul-simple>
					</div>
				</div>
				<div class="body__popup__container__body__content__row">
					<div class="body__popup__container__body__content__row__section-no-grid">
						<!--Должность-->
						<app-input-modul-dropdown
							type="text"
							[formControlName]="'positions_worker'"
							[options]="positions"
							forid="positions_worker"
							inputid="positions_worker"
							title="Должность"
							pholder="Должность"
							[isReadOnly]="false"
							(changeCardWorker)="changeCardWorker($event)"
						></app-input-modul-dropdown>
					</div>
				</div>
				<div class="body__popup__container__body__content__row">
					<div class="body__popup__container__body__content__row__section">
						<!--Разряд/квалификация-->
						<app-input-modul-simple [formControlName]="'competency_worker'" forid="competency_worker" inputid="competency_worker" title="Разряд/квалификация" type="text" pholder="Разряд/квалификация"></app-input-modul-simple>
						<!--Карта-->
						<app-input-modul-simple [formControlName]="'positions_worker_card'" forid="positions_worker_card" inputid="positions_worker_card" title="Карта" type="text" pholder="Карта"></app-input-modul-simple>
					</div>
					<div class="body__popup__container__body__content__row__section">
						<!--Загрузить фото-->
						<app-input-modul-simple [formControlName]="'photo_worker'" forid="photo_worker" inputid="photo_worker" title="Загрузить фото" type="file" pholder=""></app-input-modul-simple>
					</div>
				</div>
				<div class="body__popup__container__body__content__row">
					<div class="body__popup__container__body__content__row__section">
						<!--Примечание-->
						<div class="body__popup__container__body__content__row__section__module" appInputChangeColor>
							<div class="body__popup__container__body__content__row__section__module__title">
								Примечание
							</div>
							<div class="body__popup__container__body__content__row__section__module__main">
								<textarea type="text" id="note_worker" formControlName="note_worker" class="body__popup__container__body__content__row__section__module__main__input" placeholder="Примечание"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="body__popup__container__body__footer">
					<div class="body__popup__container__body__footer__btn__cancel">
						<button class="body__popup__container__body__footer__btn__cancel__input">Отменить</button>
					</div>
					<div class="body__popup__container__body__footer__btn__submit">
						<input type="submit" id="123" class="body__popup__container__body__footer__btn__submit__input" (click)="onSubmit()" value="Добавить сотрудника" />
					</div>
				</div>
			</div>
		</div>
		{{formAddWorker.value | json}}
	</div>
</div>
